@charset "UTF-8";

.bun-top {
  height: 75px;
  width: 65%;
  background: #f2b75a;
  border-radius: 100px 100px 25px 25px;
  border-bottom: solid 10px rgba(0, 0, 0, 0.1);
}
.bun-bottom {
  height: 40px;
  width: 65%;
  background: #f2b75a;
  border-radius: 20px 20px 45px 45px;
  border-top: solid 8px rgba(0, 0, 0, 0.1);
}

.cheese {
  height: 18px;
  width: 68%;
  background: #f6d225;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
}

.tomato {
  height: 28px;
  width: 52%;
  background-color: #dd3812;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
}

.patty {
  height: 40px;
  width: 70%;
  background: #7b2f0d;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
}

.veggie-patty {
  height: 35px;
  width: 68%;
  background: #4e9a44;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
}

.pickle {
  height: 25px;
  width: 50%;
  background: #3fc67f;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 6px #2d9961;
}

.onion {
  height: 20px;
  width: 42%;
  background-color: #b54dc1;
  border-top: dotted 15px rgba(255, 255, 255, 0.2);
}

.lettuce {
  height: 15px;
  width: 70%;
  background-color: #59b84c;
  border-radius: 10px;
}

.plate {
  height: 25px;
  width: 80%;
  background: #656565;
  border-radius: 20px 20px 200px 200px;
}
