@charset "UTF-8";

body {
  font-family: "Open Sans", sans-serif;
  padding: 25px 20px;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 10px;
  background: #ea260d;
  text-shadow: 0px 2px 0 rgba(0,0,0,.2);
  color: white;
  display: inline-block;
}

h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  margin: 10px 0 30px 0;
}

.burger {
  max-width: 500px;
  margin: 0 auto 50px auto;
}

.burger > div {
  margin: 0 auto;
}
